<!DOCTYPE html>
<html>
  <head>
    <title>Demo Paris.rb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-50">
  
    <% if notice || alert %>
      <div class="fixed bottom-4 right-4 max-w-md py-2 px-4 bg-white rounded-lg border shadow">
        <span class="text-gray-800"><%= notice %></span>
        <span class="text-red-800"><%= alert %></span>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
